---
import { Image } from 'astro:assets';
import type { AboutData } from '../../../config/type';

interface Props { data: AboutData }
const { data } = Astro.props;
const { title, lead, body, image } = data;
---

<section class="section about about01" id="about">
  <div class="inner about-inner">
    <header class="section-title">
      <h2 class="title">{title}</h2>
    </header>
    {image && (
      <div class="img-wrap">
        <Image class="image" src={image} alt={title} />
      </div>
    )}
    <div class="body-wrap">
      {lead && <p class="lead">{lead}</p>}
      {body.map((text) => <p class="text">{text}</p>)}
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../../styles/variables" as *;
  @use "../../../styles/mixins" as *;

  .about01 {}
  @include tb {}
  @include sp {}
</style>